.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vh;
}
.header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btnContainer {
  display: inline-block;
  padding: 10px 40px;
  margin: 20px auto;
}

.btn {
  float: left;
  margin: 10px;
  width: fit-content;
  padding: 10px;
  background-color: #008b8b;
  border-radius: 10px;
  border: 0.5px solid orange;
  button {
    background: none;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
  }
  &:hover {
    box-shadow: 0 1px 0 2px#00FFFF;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
